/*.icon1 {
  height: 5%;
  width: 5%;
  box-sizing: border-box;
  padding:5px;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: right;
}*/
/*
.icon2 {
  height: 5%;
  width: 5%;
  box-sizing: border-box;
  padding:5px;
  margin-bottom: 5px;
}

.icon3 {
  height: 5%;
  width: 5%;
  box-sizing: border-box;
  padding:5px;
  text-align: right;
  margin-top: 2px;*/
/*}*/