@media screen and (max-width: 1090px) {
  #nav-bar .logo {
    padding-top: 25px;
    width: 50px;
    margin-right: 5px;
    float: left;
  }
}

#nav-bar {
  height: 100px;
  width: 100%;
  top: 0px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 130px;
  background-color: #3A2449;
}

#nav-bar .header {
  padding-top:25px;
  line-height: 90px;
  font-size: 4em;
  margin-left: 5px;
  color: #8FBFE0;
  float:left;
}

#nav-bar .logo {
  max-width: 100px;
  padding-top: 25px;
  width: 100px;
  margin-right: 5px;
  float: left;
}

#nav-bar .compose {
  float: right;
  height: 100px;
  width: 15% fixed;
  margin-right: 100px;
  margin-top: 20px;
  color: #8FBFE0;
  background-color: #1F2833;
  border-radius: 15px;
  font-size: 2em;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#nav-bar .compose:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}