.new-tweet {
  border-radius: 15px;
  background-color: #1F2833;
  color: #8FBFE0;
  padding:5px;
  line-height:10px;
  display: none;
  opacity: 0.6;
  filter: alpha(opacity=50);
}

.new-tweet:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}

.new-tweet h2 {
  margin-bottom: 10px;
  background-color: #1F2833;
  border-bottom: 2px solid #8FBFE0;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 2em;
}

.new-tweet .counter {
  padding-left:90%;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size:18px;
  color:#8FBFE0;
}

.new-tweet textarea {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  line-height: 30px;
  width: 100%;
  margin-bottom: 10px;
  resize: none;
}

.new-tweet input {
  background-color: #747C92;
  color: #8FBFE0;
  padding: 10px;
  font-size: 2em;
  margin-top:15px;
  margin-bottom: 1px;
  margin-right: 90%;
  margin-left: 15px;
  border-radius: 5px;
}

.new-tweet label{
  padding: 5px 10px 5px 10px;
  background-color:red;
  float: right;
  margin-bottom: 20px;
  display: none;
}
